.alert.alert-success
	Launched tool with
	%code= current_user.name
	user.

.alert.alert-info
	%p
		This application has been launched from 
		%code
			=lti_tool_provider.resource_link_title
			&nbsp;( 
			=lti_tool_provider.resource_link_id
			&nbsp;)
	%p
		The key used for the tool_provider is
		%code=lti_tool_provider.consumer_key
		and the secret is
		%code=lti_tool_provider.consumer_secret